<div class="row mx-auto">
    <div class="col-md-12">
        <div class="search-bar">
            <h5>Click on the button below to get a random joke👇</h5>
            <button [className]="'randomBtn'" (click)="getRandomJoke()">Get a random joke</button>
        </div>
        @if (randomJoke) {
            <div class="jokes-content">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="randomJoke.icon_url" alt="Card image cap">
                    <div class="card-body"> 
                      <p class="card-text">{{randomJoke.value}}</p>
                    </div>
                  </div>
            </div>
        }

     
    </div>
</div>