<div class="row">
    <div class="col-3  mx-auto">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" name="searchInput" placeholder="Search" aria-label="Search" [(ngModel)]="searchedInput" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchJoke()">Search</button>
          </form>
    </div>

</div>
@if(jokes && searchedInput) {
    <h6>Searched : {{searchedInput}}. Searched results {{jokes.total.toString()}}</h6>
  @for (joke of jokes.result; track $index) {
    <div class="row">
        <div class="col-3">
            <div class="jokes-content">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="joke.icon_url" alt="Card image cap">
                    <div class="card-body"> 
                      <p class="card-text">{{joke.value}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  }
}

